* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5em;
  width: 100vw;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  background-color: rgb(33, 33, 33);

  .side-panel {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 20vw;
    height: 100vh;
    background-color: rgb(40, 40, 40);

    &__name {
      padding: 20px;
      font-size: 1.2em;
      text-align: center;
    }

    &__contents {
      text-align: left;
      padding: 20px;
    }

    &_left {
      border-right: 1px rgb(77, 77, 77) solid;
    }

    &_right {
      border-left: 1px rgb(77, 77, 77) solid;
      text-align: center;
      right: 0;
    }
  }

  .text {
    width: 100vw;
    height: 100vh;
  }

  .section {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 12px;
    margin-left: 20px;

    &__header {
      padding: 10px;
    }

    .parameter {
      display: flex;
      flex-direction: row;
      font-size: 0.7em;
      height: 3em;

      &__name {
        width: 250px;
      }
    }
  }
}